* {
    text-align: center;
    padding: 0;
    margin: 0;
}

.navigation {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    

}

.a1 {
    font-weight: 900;
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: gray;
    padding: 15px;
    position: relative;
    bottom: -18px;
}
.a1:hover{
    font-weight: 900;
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: gray;
    padding: 15px;
    position: relative;
    bottom: -18px;
    border-bottom: black 3px solid;
}

.image1{
    background: url(1.png)  no-repeat center center fixed;
    height: 600px;
    width:100%;
    
}
.text{
    color: white;
    padding-top: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 4em;
    text-shadow: gray 20px 10px 15px;
}

.btn {
    height: 50px;
    width: 160px ;
    background-color: transparent;
    color: white;
    border: white 2px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 1.3em;
    text-shadow: gray 20px 10px 7px;
}

.btn:hover {
    height: 50px;
    width: 160px ;
    background-color: white;
    color: gray;
    border: white 2px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 1.3em;
    text-shadow: gray 20px 10px 15px;
    
}
.text2  {
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 2.9em;
    text-shadow: gray 20px 10px 15px; 

}
 .text3 {
     margin: 80px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: 900;

 }
.left {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    padding-left: 100px;
    font-weight: 900;
    font-size: 1.2em;
    text-shadow: gray 20px 10px 15px;
    position: relative;
}
.right {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    padding-right: 100px;
    font-weight: 900;
    font-size: 1.2em;
    text-shadow: gray 20px 10px 15px;
    position: relative;
}

.a2{
    color: black;
    text-decoration: none;
}

.a2:hover{
    color: black;
    text-decoration: none;
    text-shadow: gray 10px 10px 6px;
    font-size: 1.1em;
}
.active{
    font-weight: 900;
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    padding: 15px;
    position: relative;
    bottom: -18px;
    border-bottom: black 3px solid;
    
}

.image2 {
    background-image: url(2.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 250px;
    margin-left: 520px;
    
}

